body {
  margin: 0;
}

:root {
  --blue: #00acdc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo__img {
  display: block;
}

.nav__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.is-active {
  color: var(--blue);
}

.is-active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--blue);
  width: 37px;
  height: 4px;
  border-radius: 8px;
}

.link:hover {
  color: var(--blue);
}
